*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #7749f8;
    --primary-light: #9775fa;
    --dark: #212529;
    --light: #f8f9fa;
    --gray: #868e96;
    --danger: #fa5252;
    --succcess: #40c057;
    --border: #e9ecef;
}

body{
    display: flex;
    background-color: #f1f3f5;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--dark);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

header{
    background-color: var(--primary);
    color: white;
    padding: 20px 25px;
}

header h1{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}

header p{
    font-size: 14px;
    opacity: 0.9em;
}

.todo-input{
    display: flex;
    gap: 10px;
    padding: 20px 25px;
    background-color: var(--light);
    border-bottom: 1px solid #efefef;
    align-items: center;
}

.todo-input input{
    flex: 1;
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #efefef;
    border-radius: 6px;
    transition: all 0.2s;
}

.todo-input input:focus{
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(119, 73, 248, 0.15);
}

.todo-input button{
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 10px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.todo-input button:hover{
    background-color: var(--primary-light);
}

.filters{
    display: flex;
    gap: 15px;
    padding: 15px 25px;
    border-bottom:  1px solid var(--border);
}

.filter{
    padding: 5px 3px;
    cursor: pointer;
    color: var(--gray);
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
}

.filter:hover{
    color: var(--primary);
}

.filter.active{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    font-weight: 500;
}

.todos-container{
    padding: 15px 0;
    width: 100%;
    overflow-y: auto;
}

#todos-list{
    list-style-type: none;
}

.todo-item{
    padding: 12px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: backgorund-color 0.2s;
}

.todo-item:hover{
    background-color: var(--light);
}

.checkbox-container{
    margin-right: 15px;
}

.todo-checkbox{
    opacity: 0;
    position: absolute;
}

.checkmark{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #dee2e6;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
}

.todo-checkbox:checked + .checkmark{
    background-color: var(--succcess);
    border-color: var(--succcess);
}

.todo-checkbox:checked + .checkmark::after{
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.todo-item-text{
    flex: 1;
    font-size: 1rem;
    transition: all 0.2s;
}

.todo-item.completed .todo-item-text{
    text-decoration: line-through;
    color: var(--gray);
}

.delete-btn{
    background: none;
    border: none;
    color: var(--gray);
    cursor: pointer;
    font-size: 16px;
    opacity: 0;
    transition: all 0.2s;
}

.todo-item:hover .delete-btn{
    opacity: 1;
}

.delete-btn:hover{
    color: var(--danger);
}