*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #6C63FF;
    --primary-light: #8B85FF;
    --bg: #F5F7FF;
    --card-bg: #FFFFFF;
    --text-primary: #1E1E2F;
    --text-secondary: #6B7280;
    --success: #22C55E;
    --danger: #EF4444;
    --warning: #F59E0B;
    --border: #E5E7EB;
    --shadow: rgba(108, 99, 255, 0.15);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: var(--card-bg);
    width: 500px;
    border-radius: 6px;
    box-shadow: 0px 10px 25px rgba(108, 99, 255, 0.15);
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 20px;
    text-align: center;
}

header i{
    font-size: 40px;
    color: var(--primary);
    padding: 12px;
    border-radius: 20px;
    background-color: #f1edf8;
}

header .text-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

header h1{font-size: 40px;}

.subtitle{
    font-weight: 520;
    font-size: 13px;
    color: var(--text-secondary);
}

.input-container{
    position: relative;
    background-color: var(--card-bg);
    box-shadow: 1px 1px 4px rgb(0, 0, 0,0.1);
    border-radius: 10px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
}

.input-container input{
    flex: 1;
    height: 100%;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px 10px;
    padding-left: 30px;
    font-size: 12px;
    color:  var(--text-secondary);
    transition: all .2s ease;
}

.input-container input:focus{
    outline: none;
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 2px rgba(108,99,255,.15);
}

.add-btn{
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
}

.add-btn:hover{
    background-color: var(--primary-light);
    transform: translateY(-1px);
}

.add-btn:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(108,99,255,.2);
}

.add-btn:active{transform: translateY(1px);}

.add-btn i{transition: transform .2s ease;}
.add-btn:hover i{transform: rotate(90deg);}

.input-icon{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.date-container{
    display: flex;
    padding: 18px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.today{
    display: flex;
    gap: 6px;
    align-content: center;
    color: var(--primary);
    font-weight: 600;
    padding: 8px 6px;
    border-bottom: 2px solid var(--primary);
}

.today i{
    position: relative;
    top: 4px;
}

.jumlahTask{ color: var(--text-secondary);}

.task-list{
    display: flex;
    box-shadow: 1px 1px 4px rgb(0, 0, 0,0.1);
    height: 52px;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}

.list-info{
    display: flex;
    align-items: center;
    gap: 6px;
}

.checkmark{display: none;}

.custom-check{
    width: 22px;
    height: 22px;
    border-radius: 5px;
    border: 2px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s case;
    cursor: pointer;
    transition: all .2s ease;
}

.custom-check:hover{transform: scale(1.1);}


.checkmark:checked + .custom-check::after{
    content: "✓";
    color: white;
    font-size: 11px;
    font-weight: bold;
}

.checkmark:checked + .custom-check{
    background: var(--success);
    border-color: var(--success);
    transform: scale(1.05);
}

.completed{
    text-decoration: line-through;
    opacity: .6;
    color: #999;
}

.task-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 550;
    padding: 10px;
}

.task-name{
    margin-bottom: 2.5px;
}

.categoration{
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 600;
    background-color: #f1edf8;
    color: var(--primary);
    width: auto;
    padding: 5px;
    gap: 4px;
    border-radius: 6px;
}

.trash{
    border: none;
    background-color: #f7e0e0;
    color: var(--danger);
    padding: 8px;
    border-radius: 6px;
    transition: all .2ease;
}

.trash:hover{
    background-color: var(--danger);
    color: white;
    transform: translateY(-2px);
}

.trash:active{transform: scale(.9);}

.info-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    margin-top: 20px;
    border-radius: 20px;

    box-shadow: 1px 1px 12px rgba(0,0,0,.05);
}

.info-container > div{
    background: white;
    padding: 16px;
}

.total-info, .completed-info, .remaining-info{
    display: flex;
    text-align: start;
    align-items: center;
    gap: 15px;
}

.total-info,
.completed-info{
    position: relative;
}

.total-info::after,
.completed-info::after{
    content: "";
    position: absolute;

    right: 0;
    top: 15px;
    bottom: 15px;

    width: 1px;
    background: var(--border);
}

.info-container i{
    font-size: 24px;
}

.total-info i{
    color: var(--primary);
    padding: 12px;
    border-radius: 20px;
    background-color: #f1edf8;
}


.completed-info i{
    color: var(--success);
    padding: 12px;
    border-radius: 20px;
    background-color: #dbfee6;
}

.remaining-info i{
    color: var(--warning);
    padding: 12px;
    border-radius: 20px;
    background-color: #fff2db;
}

.count-task{
    font-size: 20px;
    font-weight: 650;
    color: var(--primary);
}

.count-completed{
    font-size: 20px;
    font-weight: 650;
    color: var(--success);
}

.count-remaining{
    font-size: 20px;
    font-weight: 650;
    color: var(--warning);
}

.total-task, .completed-task, .remaining-task{
    display: block;
    font-size: 12px;
    color: var(--text-secondary);
    font-weight: 600;
}
