*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding: 12px;
    border-radius: 6px;
    background-color: #efefef;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header{
    font-size: 10px;
    margin-bottom: 4px;
}

.input-text{
    padding: 8px;
    height: 25px;
    border-radius: 4px;
}

.add-btn{
    height: 25px;
    width: 25px;
    border-radius: 4px;
}

.list-box{
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-book{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-book li{
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    list-style: none;
    background-color: rgb(216, 221, 225);
    border-radius: 6px;
}

.list-book li button{
    text-align: center;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    font-size: 0.65em;
}

.info-container{
    display: flex;
    flex-direction: column;
}

.tot-box, .done-box{font-size: 12.5px;}

.done{
    text-decoration: line-through;
}